* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #1b262c;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.username-input {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#Username {
    border: none;
    border-bottom: 3px solid #0f4c75;
    width: 200px;
    height: 30px;
}

.button, .favorite {
    margin-left: 10px;
    font-size: 1.4em;
    font-weight: 700;
    background-color: rgb(58, 111, 207); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    box-shadow: 2px 3px #080c0e;
}

.favorite {
    padding: 15px 32px;
    border-radius: 10px;
}

.golden {
    background-color: coral;
}

.button:active {
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: none;
}

.repositories {
    font-weight: 700;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 200px;
    width: 550px;
    border-radius: 10px;
    background-color: #0f4c75;
    margin: 30px;
    box-shadow: 0 10px 6px -6px #080c0e;
    overflow: hidden;
}


.favorite:active {
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: none;
}